[color]
    ui = true
[merge]
    # Force the creation of merge commits when `git merge` is used
    ff = no
    tool = vimdiff
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[core]
    excludesfile = ~/.git_files/.gitignore_global
    whitespace = trailing-space,space-before-tab
    autocrlf = input
    editor = vim
[branch]
    # If b is only on the remote `git checkout b` creates b and tracks origin/b
    autosetupmerge = true
[rerere]
    enabled = true
[advice]
    statusHints = false
# Force the use of spaces
[filter "detab"]
    clean = expand --tabs=4 --initial  # Expand tabs to spaces
    smudge = cat  # Take file back (with spaces)
[push]
    default = simple
[pull]
    rebase = true
[url "git@github.com:"]
    insteadOf = https://github.com/
