[user]
	name = David Johnson
	email = johnson_@mit.edu
[color]
	ui = true
[merge]
	tool = vimdiff
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[core]
	excludesfile = ~/.gitfiles/.gitignore_global
	whitespace = trailing-space,space-before-tab
	autocrlf = input
    editor = vim
[branch]
	autosetupmerge = true
[rerere]
	enabled = true
[advice]
	statusHints = false
# Force the use of spaces
[filter "detab"]
    clean = expand --tabs=4 --initial  # Expand tabs to spaces
    smudge = cat  # Take file back (with spaces)
