[user]
	name = David Johnson
	email = da.johnson.a@gmail.com
[core]
    excludesfile = ~/.gitfiles/.gitignore_global
	editor = vim
    # Convert incoming CRLF to LF
    autocrlf = input
    # Detect and fix trailing-space and space-before-tab
    whitespace = trailing-space, space-before-tab
[color]
	ui = true
